{% extends "app01/base.html" %}


{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div style="width: 30%;margin-left: auto;margin-right: auto">
            <form action="{% url 'add_users' %}" method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control" id="username" name="username" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
                {%  if form.errors.username %}
                    {% for item in form.errors.username %}
                        <span style="color: red">{{ item }}</span>
                    {% endfor %}
                {% endif %}
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                {%  if form.errors.password %}
                    {% for item in form.errors.password %}
                        <span style="color: red">{{ item }}</span>
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label for="usergroup">usergroup</label>
                    <a href="javascript:;" id="add_group">
                    <span style="float: right;color: #4cae4c" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                    <select type="text" class="form-control" id="usergroup" name="usergroup">
                        <option value="">---------</option>
                        {% for group in groups %}
                        <option value="{{ group.id }}"
                                {% if form.usergroup.value == group.id|striptags %}selected{% endif %}>
                            {{ group.groupname }}</option>
                        {% endfor %}
                    </select>
                    {%  if form.errors.usergroup %}
                        {% for item in form.errors.usergroup %}
                            <span style="color: red">{{ item }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="department">department</label>
                    <a href="javascript:;" id="add_department">
                    <span style="float: right;color: #4cae4c;" class="glyphicon glyphicon-plus" aria-hidden="true"
                    ></span></a>
                    <select type="text" class="form-control" id="department" name="department">
                        <option value="">---------</option>
                        {% for department in departments %}
                        <option value="{{ department.id }}"
                                {% if form.department.value == department.id|striptags %}selected{% endif %}>
                            {{ department.departname }}</option>
                        {% endfor %}
                    </select>
                    {%  if form.errors.department %}
                    {% for item in form.errors.department %}
                        <span style="color: red">{{ item }}</span>
                    {% endfor %}
                {% endif %}
                </div>
                <div class="form-group">
                    <label for="phone">phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" {% if form.phone.value %}value="{{ form.phone.value }}"{% endif %}>
                    {%  if form.errors.phone %}
                    {% for item in form.errors.phone %}
                        <span style="color: red">{{ item }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="mail_address">mail_address</label>
                    <input type="text" class="form-control" id="mail_address" name="mail_address" {% if form.mail_address.value %}value="{{ form.mail_address.value }}"{% endif %}>
                    {%  if form.errors.mail_address %}
                    {% for item in form.errors.mail_address %}
                        <span style="color: red">{{ item }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
    function add_sth(url) {
        window.open (url, 'newwindow', ChannelMergerNode);
{#        this.style.backgroundColor = "red";#}
    }

{#    document.getElementById('add_dpartment').addEventListener('click',add_sth("{% url 'add_group' %}"),false);#}
    document.getElementById('add_group').addEventListener('click',function () {
        add_sth("{% url 'add_group' %}");
    },false);
    document.getElementById('add_department').addEventListener('click',function () {
        add_sth("{% url 'add_department' %}");
    },false);

    </script>
    {% if sucess %}
        <script>window.alert('用户添加成功！')</script>
    {% endif %}
{% endblock %}