<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    <script src="app01/js/jquery.min.js"></script>#}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
{% if form %}
    <form id="add_department">
    {% csrf_token %}
    {{ form.departname }}
        {%  if form.errors.departname %}
            {% for item in form.errors.departname %}
                <span style="color: red" id="error_info">{{ item }}</span>
            {% endfor %}
        {% endif %}
    </form>
    <button id="submit_add" onclick="javascript:;">提交</button>
{% endif %}

<script>
    function remove_error_info() {
        var err_info = document.getElementById('error_info');
        if (err_info){
            err_info.remove();
        }
    }
    function add_error_info(info) {
        var text = "<span style='color: red' id='error_info'>"+info+"</span>";
        var form_ =  document.getElementById('add_group');
        console.log(form_);
    }
    function check_form() {
        var form_data = document.getElementById('id_departname');
        if ( ! form_data.value) {
            window.alert('不能为空');
        };
    };
    function add_parents_input(id,name) {
        var new_option = new Option(id,name);
        var p_form = window.opener.document.getElementById('department');
        p_form.options.add(new_option);
        p_form.options.selectedIndex = p_form.options.length - 1;
    }
    function submit1(url) {

        var str_data=$('form').serialize();
        $.ajax({
           type: "POST",
           url: url,
           data: str_data,
           success: function(msg){
               msg = JSON.parse(msg);
               if(msg['errors']){

                   alert(msg['errors']['departname']);
               }
               else if(msg['context']){
                   if( window.opener){
                       add_parents_input(msg['context'][1],msg['context'][0]);
                       window.close();
                   }
                   else{
                       alert('添加成功！ID：'+msg['context'][0]+'名字：'+msg['context'][1]);
                   };
                }
               else{
                   alert(msg);
               }
           }
        });
    }
$('#submit_add').click(function () {
    submit1('add_group');
})
</script>
</body>
</html>